/.idea/*
!/.idea/copyright
.gradle
*.iml
target
build
local.properties
/kotlinx-collections-immutable/dependency-reduced-pom.xml
/benchmarks-runner/benchmarkResults
/benchmarks-runner/localReferenceBenchmarkResults